// backgound colors
$background-color-primary: lime;
$background-color-secondary: azure;
$background-color-tertiary: rgb(19, 246, 19);

// colors list
$list-background-color-primary: rgb(104, 242, 104);
$list-background-color-secondary: rgb(43, 244, 43);
